:root {
  --branding-color: rgb(45, 91, 2);
  --secondary-color: rgba(202, 167, 173, 0.352);
  --third-color: rgb(84, 170, 4);
  --default-font-family: "Geologica", sans-serif;
  --heading-font-family: "Rubik", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: rgb(90, 89, 89);
}
h1 {
  font-size: 65px;
}
h2 {
  font-size: 55px;
}

h4 {
  font-size: 48px;
}
p {
  font-weight: normal;
  color: rgb(90, 89, 89);
  font-size: 16px;
  line-height: 1.5;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  border-radius: 7px;
}
.hero {
  background: var(--secondary-color);
  padding: 50px 20px;
  border-radius: 7px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
}
.content-container {
  padding: 160px 20px;
}
.content-container h1 {
  font-size: 60px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 16px;
}
.content {
  margin: 20px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}
.works-page {
  padding: 20px 20px !important;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 7px;
  color: white;
  font-size: 18px;
  padding: 12px 20px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 7px;
  font-size: 18px;
  padding: 12px 20px;
}
.project-description {
  padding: 0 40px;
}
.project-description p {
  text-align: justify;
}
.logo {
  max-width: 80px;
  margin: 0 !important;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
  font-size: 20px;
}
nav a {
  text-decoration: none;
  color: #40423e;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--third-color);
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 7px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--third-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
@media (max-width: 960px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h4 {
    font-size: 18px;
  }
  .project-description,
  .heading {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container a {
    margin-bottom: 20px;
  }

  .project-desciption {
    padding: 0;
  }
  nav a {
    font-size: 14px;
  }
}
@media (max-width: 1400px) {
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 50px;
  }
}
